.v-select .vs__dropdown-toggle {
    height: 40px;
    background: theme('colors.gray.50');
}

.vs__dropdown-option--highlight {
    background: theme('colors.active.DEFAULT');
}

.dark .v-select .vs__dropdown-toggle {
    background: theme('colors.gray.700');
    color: theme('colors.light-color');
}

.dark .v-select .vs__selected {
    color: theme('colors.light-color');
}

.dark .v-select .vs__dropdown-menu {
    background: theme('colors.gray.800');
}

.dark .v-select .vs__clear svg {
    stroke: #aaa;
    fill: #aaa;
}
.dark .v-select .vs__open-indicator {
    stroke: #aaa;
    fill: #aaa;
}
